div
    .filter-name-label
        span {{vm.filterDisplayName}}
    .filter-inner-wrapper
        input.form-control.input-sm(type="number", name="{{vm.filterName}}", data-ng-model="vm.filterValue")
