button.btn.btn-md.btn-create.btn-success(data-ng-class="{ processing : vm.processing}" style="display: inline-block; margin: 10px;" ng-bind="vm.label")
  .loader-search-wrapper(data-ng-show="vm.processing")
     .loader-search {{'LOADING' | translate}}