button.btn.btn-md.btn-success(data-ng-class="{ processing : vm.processing}" )
    | {{vm.label}}
    .loader-search-wrapper(data-ng-show="vm.processing")
        .loader-search {{'LOADING' | translate}}