
<div data-ng-class="className" class="field-wrapper">
    <div data-ng-class="!vm.isArray ? 'row' : '' ">
        <div data-ng-if="!vm.isArray" class="field-name-label col-lg-6 col-md-6 col-sm-5 col-xs-4">
            <div data-ng-if="vm.hint" class="field-hint">
                <div class="hint-text">{{vm.hint}}</div>
            </div><span data-ng-class="vm.required ? 'editor-required' : '' ">{{vm.fieldDisplayName}}:</span>
        </div>
        <div class="field-element"></div>
    </div>
    <div data-ng-if="!vm.isArray" class="field-error-wrapper">
        <div data-ng-repeat="err in vm.error track by $index" class="error-item alert alert-danger">{{err}}</div>
    </div>
</div>