div(ng-class="{'field-wrapper row':!vm.options.filter, 'filter-wrapper-field': vm.options.filter}")
        include ../../template/labelField/labelField
        div(ng-class="{'filter-inner-wrapper': vm.options.filter, 'field-element': !vm.options.filter}")
            div(data-ng-if="vm.multiple", data-ng-class="vm.classComponent")
                .item-textarea-wrapper(data-ng-repeat="field_item in vm.fieldValue track by $index")
                    textarea.form-control(name="{{vm.fieldName}}", rows="{{vm.rows}}", data-ng-disabled="vm.readonly", data-ng-model="vm.fieldValue[$index]", class="editor-textarea", data-ng-blur="vm.inputLeave(vm.fieldValue[$index])")
                    .btn.btn-default.btn-sm(data-ng-click="vm.removeItem($index)", data-ng-if="!vm.readonly") x
                .btn.btn-primary.btn-sm(data-ng-click="vm.addItem()", data-ng-if="!vm.readonly") {{'BUTTON.ADD' | translate}}
            div(data-ng-if="!vm.multiple", data-ng-class="vm.classComponent")
                    textarea.form-control(name="{{vm.fieldName}}", rows="{{vm.rows}}", data-ng-disabled="vm.readonly", data-ng-model="vm.fieldValue", class="editor-textarea", data-ng-blur="vm.inputLeave(vm.fieldValue)")
    include ../../template/errorField/errorField