.field-wrapper.row(ng-if="!vm.filter")
    .form-group
        include ../../template/labelField/labelField
        .field-element
            div(data-ng-if="vm.multiple", data-ng-class="vm.classTextarea")
                .item-textarea-wrapper(data-ng-repeat="field_item in vm.fieldValue track by $index")
                    textarea.form-control(name="{{vm.fieldName}}", rows="{{vm.rows}}", data-ng-disabled="vm.readonly", data-ng-model="vm.fieldValue[$index]", class="editor-textarea", data-ng-blur="vm.inputLeave(vm.fieldValue[$index])")
                    .btn.btn-default.btn-sm(data-ng-click="vm.removeItem($index)", data-ng-if="!vm.readonly") x
                .btn.btn-primary.btn-sm(data-ng-click="vm.addItem()", data-ng-if="!vm.readonly") {{'BUTTON.ADD' | translate}}
            div(data-ng-if="!vm.multiple", data-ng-class="vm.classTextarea")
                    textarea.form-control(name="{{vm.fieldName}}", rows="{{vm.rows}}", data-ng-disabled="vm.readonly", data-ng-model="vm.fieldValue", class="editor-textarea", data-ng-blur="vm.inputLeave(vm.fieldValue)")
    include ../../template/errorField/errorField
.filter-wrapper-field(ng-if="vm.filter")
    .filter-name-label
        span {{vm.fieldDisplayName}}
    .filter-inner-wrapper
        input.form-control.input-sm(type="text", name="{{vm.fieldName}}", data-ng-model="vm.fieldValue")