
<div class="field-wrapper row">
    <div class="form-group">
        <label class="field-name-label">
            <div data-ng-if="vm.hint" class="field-hint">
                <div class="hint-text">{{vm.hint}}</div>
            </div><span data-ng-class="vm.required ? 'editor-required' : '' ">{{vm.fieldDisplayName}}:</span>
        </label>
        <div class="field-element">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div data-ng-repeat="item in vm.selectedValues" data-ng-class="vm.readonly ? 'disabled' : ''" class="checkbox">
                    <label>
                        <input type="checkbox" data-ng-disabled="vm.readonly" data-checklist-model="vm.fieldValue" data-checklist-value="item[vm.field_id]"/>{{item[vm.field_search]}}
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="field-error-wrapper">
        <div data-ng-repeat="err in vm.error track by $index" class="error-item alert alert-danger">{{err}}</div>
    </div>
</div>