extends ../../template/layouts/layoutComponent

block append content
    include ../../template/labelField/labelField
    div(ng-class="{'filter-inner-wrapper': vm.options.filter, 'field-element': !vm.options.filter}" style="{{::vm.checkBoxStyle}}", ng-if="!vm.disabled || vm.options.filter")
        .checkbox(data-ng-repeat="item in vm.optionValues", data-ng-class="{'disabled': vm.readonly}")
            label
                input(type="checkbox", data-ng-disabled="vm.readonly", data-checklist-model="vm.fieldValue", data-checklist-value="::item[vm.field_id]")
                span(ng-bind="::item[vm.field_search]")
    div.disabled_field(ng-if="vm.disabled && !vm.options.filter")
        include ../../template/disabledField/checkBox