div(ng-class="{'field-wrapper row':!vm.options.filter}")
    include ../../template/labelField/labelField
    div(ng-class="{'filter-inner-wrapper': vm.options.filter, 'field-element': !vm.options.filter}")  
            div(data-ng-if="vm.multiple")
                .item-string-wrapper.input-group(data-ng-repeat="field_item in vm.fieldValue track by $index" ng-init="i = $index")
                    label.checkbox-inline(data-ng-repeat="item in vm.optionValues", data-ng-class="{'disabled': vm.readonly}")
                        input(type="checkbox", data-ng-disabled="vm.readonly", data-checklist-model="vm.fieldValue[i]", data-checklist-value="item[vm.field_id]")
                        span(ng-bind="item[vm.field_search]")
                    span.input-group-btn
                        button.btn.btn-default.btn-sm(data-ng-click="vm.removeItem($index)", data-ng-if="!vm.readonly") x
                .btn.btn-primary.btn-sm(data-ng-click="vm.addItem()", data-ng-disabled="vm.readonly") {{'BUTTON.ADD' | translate}}
            div(data-ng-if="!vm.multiple")
                 label.checkbox-inline(data-ng-repeat="item in vm.optionValues", data-ng-class="{'disabled': vm.readonly}")
                    input(type="checkbox", data-ng-disabled="vm.readonly", data-checklist-model="vm.fieldValue", data-checklist-value="item[vm.field_id]")
                    span(ng-bind="item[vm.field_search]")   
    include ../../template/errorField/errorField