
<div class="universal-editor">
    <div class="field-error-wrapper">
        <div data-ng-repeat="err in vm.errors" class="error-item">{{err}}</div>
    </div>
    <div class="field-notify-wrapper">
        <div data-ng-repeat="notify in vm.notifys" class="notify-item">{{notify}}</div>
    </div>
    <div data-ng-if="vm.correctEntityType">
        <div class="editor-header">
            <button data-ng-click="vm.toggleFilterVisibility()" data-ng-class="{ disabled : vm.entityLoaded }" class="header-action-button gray">{{ 'BUTTON.FILTER' | translate}} {{ vm.visibleFilter ? "+" : "-" }}</button>
            <div ng-repeat="button in vm.listHeaderBar track by $index" class="header-action-button">
                <div data-editor-button-create="" data-button-label="{{button.label}}" ng-if="button.type === 'create'" data-type="entity"></div>
                <div data-ng-if="button.type == 'custom'" data-ng-click="vm.headerAction(button)">{{button.label}}</div>
            </div>
            <div ng-repeat="button in vm.mixedListHeaderBar track by $index" class="header-action-button">
                <div data-editor-button-create="" data-button-label="{{button.label}}" ng-if="button.type === 'create'" data-type="vm.mixEntityType"></div>
                <div data-ng-if="button.type == 'custom'" data-ng-click="vm.headerAction(button)">{{button.label}}</div>
            </div>
        </div>
        <div data-ng-hide="vm.visibleFilter || (vm.entityLoaded || vm.loadingData)" class="editor-filter">
            <div class="editor-filter-wrapper">
                <div data-ng-repeat="filter in vm.filterFields" data-filter-wrapper="" data-filter-name="{{filter.name}}"></div>
                <div class="buttons-wrapper">
                    <button data-ng-click="vm.applyFilter()" class="editor-action-button gray">{{'BUTTON.APPLY' | translate}}</button>
                    <button data-ng-click="vm.clearFilter()" class="editor-action-button gray">{{'BUTTON.CLEAN' | translate}}</button>
                </div>
            </div>
        </div>
        <div class="groups-action">
            <button data-ng-if="vm.parentButton &amp;&amp; !vm.entityLoaded &amp;&amp; !vm.loadingData" data-ng-click="vm.getParent()" class="editor-action-button gray">{{'BUTTON.HIGHER_LEVEL' | translate}}</button>
        </div>
        <div data-ng-show="vm.loadingData" class="processing-status-wrapper">
            <div class="processing-status">{{'PERFORMS_ACTIONS' | translate}}</div>
        </div>
        <table data-ng-hide="vm.entityLoaded || vm.loadingData" class="items-list">
            <thead>
                <tr>
                    <td class="actions-header context-column"></td>
                    <td data-ng-repeat="fieldItem in vm.tableFields" data-ng-class="{ 'active' : fieldItem.field == vm.sortField, 'asc' : vm.sortingDirection, 'desc' : !vm.sortingDirection}" data-ng-click="vm.changeSortField(fieldItem.field)">{{fieldItem.displayName}}</td>
                </tr>
            </thead>
            <tbody data-ng-if="vm.listLoaded">
                <tr data-ng-repeat="item in vm.items">
                    <td class="context-column"><span data-ng-click="vm.toggleContextView(item[vm.idField])" data-ng-show="vm.contextLinks.length" class="context-toggle">Toggle buttons</span>
                        <div data-ng-show="vm.contextId == item[vm.idField]" class="context-menu-wrapper">
                            <div data-ng-repeat="link in vm.contextLinks track by $index" class="context-menu-item">
                                <div data-ng-if="link.type == 'custom'" data-ng-click="vm.contextAction($index,item[vm.idField])">{{link.label}}</div>
                                <div data-ng-if="link.type == 'edit'" data-editor-button-edit="" data-entity-id="{{item[vm.idField]}}" data-button-label="{{link.label}}" data-button-params="{{link.params}}"></div>
                                <div data-ng-if="link.type == 'delete'" data-editor-button-delete="" data-entity-id="{{item[vm.idField]}}" data-button-label="{{link.label}}" data-button-params="{{link.params}}"></div>
                                <div data-ng-if="link.type == 'open'" data-editor-button-open="" data-entity-id="{{item[vm.idField]}}" data-entity-type="" data-button-label="{{link.label}}" data-button-params="{{link.params}}"></div>
                                <div data-ng-if="link.type == 'download'" data-editor-button-download="" data-item-value="{{item}}" data-button-label="{{link.label}}" data-button-params="{{link.params}}" data-index="{{$index}}"></div>
                                <div data-ng-if="link.type == 'targetBlank'" data-editor-button-target-blank="" data-item-value="{{item}}" data-button-label="{{link.label}}" data-button-params="link.request" data-index="{{$index}}"></div>
                            </div>
                        </div>
                    </td>
                    <td data-ng-repeat="fieldItem in vm.tableFields"><span style="padding-left: {{ item.parentPadding ? item.parentPadding * 10 : 0 }}px">{{item[fieldItem.field]}}</span></td>
                </tr>
                <tr data-ng-if="vm.items.length == 0">
                    <td colspan="{{vm.tableFields.length + 1}}">{{'ELEMENT_NO' | translate}}</td>
                </tr>
            </tbody>
            <tfoot data-ng-if="vm.pagination">
                <tr>
                    <td colspan="{{vm.tableFields.length + 1}}">
                        <div class="meta-info">{{'ELEMENTS' | translate}} {{vm.metaData.fromItem}} - {{vm.metaData.toItem}} {{'FROM' | translate}} {{vm.metaData.totalCount}}</div>
                    </td>
                </tr>
                <tr>
                    <td colspan="{{vm.tableFields.length + 1}}">
                        <div class="links-wrapper">
                            <div data-ng-repeat="pageItem in vm.pageItemsArray"><a data-ng-if="!pageItem.self" href="{{pageItem.href}}" data-ng-click="vm.changePage(pageItem.href)">{{pageItem.label}}</a><span data-ng-if="pageItem.self">{{pageItem.label}}</span></div>
                        </div>
                    </td>
                </tr>
            </tfoot>
        </table>
        <div data-ng-show="vm.entityLoaded" class="editor-body">
            <div data-ng-click="vm.closeButton()" ng-style="{'background-image':'url('+ vm.assetsPath +'/images/close.jpg)'}" class="close-editor"></div>
            <div class="tab-label-wrapper">
                <div data-ng-repeat="(tkey,tab) in vm.tabs" data-ng-class="vm.currentTab == tab.label ? 'active' : ''" data-ng-click="vm.currentTab = tab.label" class="tab-item-label">
                    <div>{{tab.label}}</div>
                </div>
            </div>
            <div class="tab-content-wrapper">
                <div data-ng-repeat="(tkey,tab) in vm.tabs" data-ng-show="vm.currentTab == tab.label" class="tab-item-content">
                    <div class="field-content-wrapper">
                        <div data-ng-repeat="field in tab.fields" data-field-wrapper="" data-field-name="{{field.name}}"></div>
                    </div>
                </div>
            </div>
            <div class="field-error-bottom-wrapper">
                <div data-ng-repeat="err in vm.errors" class="error-item">{{err}}</div>
            </div>
            <div class="field-notify-bottom-wrapper">
                <div data-ng-repeat="notify in vm.notifys" class="notify-item">{{notify}}</div>
            </div>
            <div class="editor-entity-actions">
                <div data-ng-if="vm.getButton('add') &amp;&amp; vm.editorEntityType == 'new'" data-editor-button-add="" data-button-label="{{vm.getButton('add').label}}"></div>
                <div data-ng-if="vm.getButton('presave')" data-editor-button-presave="" data-entity-id="{{vm.entityId}}" data-button-label="{{vm.getButton('presave').label}}"></div>
                <div data-ng-if="vm.getButton('update') &amp;&amp; vm.editorEntityType == 'exist'" data-editor-button-update="" data-entity-id="{{vm.entityId}}" data-button-label="{{vm.getButton('update').label}}"></div>
                <div data-ng-if="vm.getButton('delete') &amp;&amp; vm.editorEntityType == 'exist'" data-editor-button-delete="" data-entity-id="{{vm.entityId}}" data-button-label="{{vm.getButton('delete').label}}"></div>
            </div>
        </div>
    </div>
</div>