
<ul data-ng-if="vm.configData.entities.length &gt; 1" class="nav nav-tabs">
    <li data-ng-repeat="entityItem in vm.configData.entities track by $index" data-ng-class="(entityItem.name === entity) ? 'active' : ''" class="item"><a data-ui-sref="editor.type.list({type: entityItem.name})" ui-sref-opts="{reload: true, inherit: false}">{{entityItem.label}}</a></li>
</ul>
<div class="universal-editor">
    <div>
        <div class="editor-header">
            <button data-ng-click="vm.toggleFilterVisibility()" data-ng-class="{ disabled : vm.entityLoaded }" class="btn btn-lg btn-default filter-button">{{ 'BUTTON.FILTER' | translate}} {{ vm.visibleFilter ? "+" : "-" }}</button>
            <div ng-repeat="button in vm.listHeaderBar track by $index" class="header-action-button">
                <div data-ng-if="button.type == 'create'" data-editor-button-create="" data-button-label="{{button.label}}" data-type="entity"></div>
                <div data-ng-if="button.type == 'request'" data-ng-click="vm.contextAction(button)" class="btn btn-lg btn-success">{{button.label}}</div>
                <div data-ng-if="button.type == 'targetBlank'" data-editor-button-target-blank="" data-item-value="item" data-button-label="{{button.label}}" data-button-request="{{button.request}}" data-index="{{$index}}" data-button-class="header"></div>
                <div data-ng-if="button.type == 'download'" data-editor-button-download="" data-item-value="item" data-button-label="{{button.label}}" data-button-request="{{button.request}}" data-index="{{$index}}" data-button-class="header"></div>
            </div>
            <div ng-repeat="button in vm.mixedListHeaderBar track by $index" class="header-action-button">
                <div data-ng-if="button.type == 'create'" data-editor-button-create="" data-button-label="{{button.label}}" data-type="vm.mixEntityType"></div>
                <div data-ng-if="button.type == 'request'" data-ng-click="vm.contextAction(button)" class="btn btn-lg btn-success">{{button.label}}</div>
                <div data-ng-if="button.type == 'targetBlank'" data-editor-button-target-blank="" data-item-value="item" data-button-label="{{button.label}}" data-button-request="{{button.request}}" data-index="{{$index}}" data-button-class="header"></div>
                <div data-ng-if="button.type == 'download'" data-editor-button-download="" data-item-value="item" data-button-label="{{button.label}}" data-button-request="{{button.request}}" data-index="{{$index}}" data-button-class="header"></div>
            </div>
        </div>
        <div data-ng-hide="vm.visibleFilter || (vm.entityLoaded || vm.loadingData)" class="editor-filter">
            <div ng-keyup="vm.clickEnter($event)" class="editor-filter-wrapper">
                <div data-ng-repeat="filter in vm.filterFields" data-filter-wrapper="" data-filter-name="{{filter.name}}"></div>
                <div class="buttons-wrapper">
                    <button data-ng-click="vm.applyFilter()" class="btn btn-sm btn-success">{{'BUTTON.APPLY' | translate}}</button>
                    <button data-ng-click="vm.clearFilter()" class="btn btn-sm btn-default">{{'BUTTON.CLEAN' | translate}}</button>
                </div>
            </div>
        </div>
        <div class="groups-action">
            <button data-ng-if="vm.parentButton &amp;&amp; !vm.entityLoaded &amp;&amp; !vm.loadingData" data-ng-click="vm.getParent()" class="btn btn-sm btn-default">{{'BUTTON.HIGHER_LEVEL' | translate}}</button>
        </div>
        <div data-ng-show="vm.loadingData" class="processing-status-wrapper">
            <div class="processing-status">{{'PERFORMS_ACTIONS' | translate}}</div>
        </div>
        <table data-ng-hide="vm.entityLoaded || vm.loadingData" class="table table-bordered items-list">
            <thead>
                <tr>
                    <td class="actions-header context-column"></td>
                    <td data-ng-repeat="fieldItem in vm.tableFields" data-ng-class="{ 'active' : fieldItem.field == vm.sortField, 'asc' : vm.sortingDirection, 'desc' : !vm.sortingDirection}" data-ng-click="vm.changeSortField(fieldItem.field)">{{fieldItem.displayName}}</td>
                </tr>
            </thead>
            <tbody data-ng-if="vm.listLoaded">
                <tr data-ng-repeat="item in vm.items" data-ng-class="{'zhs-item' : (vm.entityType !== item[vm.subType]) &amp;&amp; item[vm.subType] !== undefined}">
                    <td class="context-column"><span data-ng-click="vm.toggleContextView(item[vm.idField])" data-ng-show="vm.contextLinks.length" class="context-toggle">Toggle buttons</span>
                        <div data-ng-show="vm.contextId == item[vm.idField]" class="context-menu-wrapper">
                            <div data-ng-repeat="link in vm.contextLinks track by $index" data-ng-if="(item[vm.subType] == vm.entityType || item[vm.subType] == undefined)" class="context-menu-item">
                                <div data-ng-if="link.type == 'request'" data-ng-click="vm.contextAction(link,item[vm.idField])">{{link.label}}</div>
                                <div data-ng-if="link.type == 'edit'" data-editor-button-edit="" data-entity-subtype="{{item[vm.subType]}}" data-entity-id="{{item[vm.idField]}}" data-button-label="{{link.label}}" data-button-request="{{link.request}}"></div>
                                <div data-ng-if="link.type == 'delete'" data-editor-button-delete="" data-entity-id="{{item[vm.idField]}}" data-button-label="{{link.label}}" data-button-request="{{link.request}}" data-button-class="context"></div>
                                <div data-ng-if="link.type == 'open'" data-editor-button-open="" data-entity-id="{{item[vm.idField]}}" data-button-label="{{link.label}}" data-button-request="{{link.request}}"></div>
                                <div data-ng-if="link.type == 'download'" data-editor-button-download="" data-item-value="item" data-button-label="{{link.label}}" data-button-request="{{link.request}}" data-index="{{$index}}" data-button-class="context"></div>
                                <div data-ng-if="link.type == 'targetBlank'" data-editor-button-target-blank="" data-item-value="item" data-button-label="{{link.label}}" data-button-request="{{link.request}}" data-index="{{$index}}" data-button-class="context"></div>
                            </div>
                            <div data-ng-repeat="link in vm.mixContextLinks track by $index" data-ng-if="vm.mixEntityType &amp;&amp; item[vm.subType] === vm.mixEntityType" class="context-menu-item">
                                <div data-ng-if="link.type == 'request'" data-ng-click="vm.contextAction(link,item[vm.idField])">{{link.label}}</div>
                                <div data-ng-if="link.type == 'edit'" data-editor-button-edit="" data-entity-subtype="{{item[vm.subType]}}" data-entity-id="{{item[vm.idField]}}" data-button-label="{{link.label}}" data-button-request="{{link.request}}"></div>
                                <div data-ng-if="link.type == 'delete'" data-entity-type="mix" data-editor-button-delete="" data-entity-id="{{item[vm.idField]}}" data-button-label="{{link.label}}" data-button-request="{{link.request}}" data-button-class="context"></div>
                                <div data-ng-if="link.type == 'download'" data-editor-button-download="" data-item-value="item" data-button-label="{{link.label}}" data-button-request="{{link.request}}" data-index="{{$index}}" data-button-class="context"></div>
                                <div data-ng-if="link.type == 'targetBlank'" data-editor-button-target-blank="" data-item-value="item" data-button-label="{{link.label}}" data-button-request="{{link.request}}" data-index="{{$index}}" data-button-class="context"></div>
                            </div>
                        </div>
                    </td>
                    <td data-ng-repeat="fieldItem in vm.tableFields track by $index"><span data-ng-class="{'glyphicon-folder-open icon-mix-mode' : (vm.isMixMode &amp;&amp; !((vm.entityType !== item[vm.subType]) &amp;&amp; item[vm.subType] !== undefined))}" data-ng-if="vm.prependIcon === fieldItem.field" class="glyphicon"></span><span style="padding-left: {{ item.parentPadding ? item.parentPadding * 10 : 0 }}px;">{{item[fieldItem.field]}}</span></td>
                </tr>
                <tr data-ng-if="vm.items.length == 0">
                    <td colspan="{{vm.tableFields.length + 1}}">{{'ELEMENT_NO' | translate}}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="{{vm.tableFields.length}}" data-ng-if="vm.pagination &amp;&amp; vm.metaKey">
                        <ul class="pagination">
                            <li data-ng-repeat="pageItem in vm.pageItemsArray" data-ng-class="pageItem.self ? 'active' : ''"><a data-ng-if="!pageItem.self" href="{{pageItem.href}}" data-ng-click="vm.changePage($event,pageItem.href)">{{pageItem.label}}</a><span data-ng-if="pageItem.self">{{pageItem.label}}</span></li>
                        </ul>
                    </td>
                    <td data-ng-if="vm.metaKey">
                        <div class="meta-info">{{'ELEMENTS' | translate}} {{vm.metaData.fromItem}} - {{vm.metaData.toItem}} {{'FROM' | translate}} {{vm.metaData.totalCount}}</div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>