ul.nav.nav-tabs(data-ng-if="vm.configData.entities.length > 1")
   li.item(data-ng-repeat="entityItem in vm.configData.entities track by $index", data-ng-class="(entityItem.name === entity) ? 'active' : ''")
      a(href="#/editor/{{entityItem.name}}/list") {{entityItem.label}}
.universal-editor
   div
      .editor-header
         button.btn.btn-lg.btn-default.filter-button(data-ng-click="vm.toggleFilterVisibility()", data-ng-class="{ disabled : vm.entityLoaded }")
            | {{ 'BUTTON.FILTER' | translate}} {{ vm.visibleFilter ? "+" : "-" }}
         .header-action-button(ng-repeat="button in vm.listHeaderBar track by $index")
            div(data-ng-if="button.type == 'create'", data-editor-button-create="", data-button-label="{{button.label}}", data-type="entity")
            div.btn.btn-lg.btn-success(data-ng-if="button.type == 'request'", data-ng-click="vm.contextAction(button)") {{button.label}}
            div(data-ng-if="button.type == 'targetBlank'", data-editor-button-target-blank="", data-item-value="item", data-button-label="{{button.label}}", data-button-request="{{button.request}}", data-index="{{$index}}", data-button-class="header")
            div(data-ng-if="button.type == 'download'", data-editor-button-download="", data-item-value="item", data-button-label="{{button.label}}", data-button-request="{{button.request}}", data-index="{{$index}}", data-button-class="header")
         .header-action-button(ng-repeat="button in vm.mixedListHeaderBar track by $index")
            div(data-ng-if="button.type == 'create'", data-editor-button-create="", data-button-label="{{button.label}}", data-type="vm.mixEntityType")
            div.btn.btn-lg.btn-success(data-ng-if="button.type == 'request'", data-ng-click="vm.contextAction(button)") {{button.label}}
            div(data-ng-if="button.type == 'targetBlank'", data-editor-button-target-blank="", data-item-value="item", data-button-label="{{button.label}}", data-button-request="{{button.request}}", data-index="{{$index}}", data-button-class="header")
            div(data-ng-if="button.type == 'download'", data-editor-button-download="", data-item-value="item", data-button-label="{{button.label}}", data-button-request="{{button.request}}", data-index="{{$index}}", data-button-class="header")
      .editor-filter(data-ng-hide="vm.visibleFilter || (vm.entityLoaded || vm.loadingData)")
         .editor-filter-wrapper(ng-keyup="vm.clickEnter($event)")
            div(data-ng-repeat="filter in vm.filterFields", data-filter-wrapper="", data-filter-name="{{filter.name}}")
            .buttons-wrapper
               button.btn.btn-sm.btn-success(data-ng-click="vm.applyFilter()") {{'BUTTON.APPLY' | translate}}
               button.btn.btn-sm.btn-default(data-ng-click="vm.clearFilter()") {{'BUTTON.CLEAN' | translate}}
      .groups-action
         button.btn.btn-sm.btn-default(data-ng-if="vm.parentButton && !vm.entityLoaded && !vm.loadingData", data-ng-click="vm.getParent()") {{'BUTTON.HIGHER_LEVEL' | translate}}
      .processing-status-wrapper(data-ng-show="vm.loadingData")
         .processing-status {{'PERFORMS_ACTIONS' | translate}}
      table.table.table-bordered(data-ng-hide="vm.entityLoaded || vm.loadingData", class="items-list")
         thead
            tr
               td.actions-header.context-column
               td( data-ng-repeat="fieldItem in vm.tableFields",
               data-ng-class="{ 'active' : fieldItem.field == vm.sortField, 'asc' : vm.sortingDirection, 'desc' : !vm.sortingDirection}",
               data-ng-click="vm.changeSortField(fieldItem.field)") {{fieldItem.displayName}}
         tbody(data-ng-if="vm.listLoaded")
            tr(data-ng-repeat="item in vm.items", data-ng-class="{'zhs-item' : (vm.entityType !== item[vm.subType]) && item[vm.subType] !== undefined}")
               td.context-column
                  span.context-toggle(data-ng-click="vm.toggleContextView(item[vm.idField])", data-ng-show="vm.contextLinks.length") Toggle buttons
                  .context-menu-wrapper(data-ng-show="vm.contextId == item[vm.idField]")
                     .context-menu-item(data-ng-repeat="link in vm.contextLinks track by $index", data-ng-if="(item[vm.subType] == vm.entityType || item[vm.subType] == undefined)")
                        div(data-ng-if="link.type == 'request'", data-ng-click="vm.contextAction(link,item[vm.idField])") {{link.label}}
                        div(data-ng-if="link.type == 'edit'", data-editor-button-edit="", data-entity-subtype="{{item[vm.subType]}}",data-entity-id="{{item[vm.idField]}}", data-button-label="{{link.label}}", data-button-request="{{link.request}}")
                        div(data-ng-if="link.type == 'delete'", data-editor-button-delete="",data-entity-id="{{item[vm.idField]}}", data-button-label="{{link.label}}", data-button-request="{{link.request}}", data-button-class="context")
                        div(data-ng-if="link.type == 'open'", data-editor-button-open="",data-entity-id="{{item[vm.idField]}}", data-button-label="{{link.label}}", data-button-request="{{link.request}}")
                        div(data-ng-if="link.type == 'download'", data-editor-button-download="", data-item-value="item", data-button-label="{{link.label}}", data-button-request="{{link.request}}", data-index="{{$index}}", data-button-class="context")
                        div(data-ng-if="link.type == 'targetBlank'", data-editor-button-target-blank="", data-item-value="item", data-button-label="{{link.label}}", data-button-request="{{link.request}}", data-index="{{$index}}", data-button-class="context")
                     .context-menu-item(data-ng-repeat="link in vm.mixContextLinks track by $index", data-ng-if="vm.mixEntityType && item[vm.subType] === vm.mixEntityType")
                        div(data-ng-if="link.type == 'request'", data-ng-click="vm.contextAction(link,item[vm.idField])") {{link.label}}
                        div(data-ng-if="link.type == 'edit'", data-editor-button-edit="", data-entity-subtype="{{item[vm.subType]}}",data-entity-id="{{item[vm.idField]}}", data-button-label="{{link.label}}", data-button-request="{{link.request}}")
                        div(data-ng-if="link.type == 'delete'", data-entity-type="mix", data-editor-button-delete="",data-entity-id="{{item[vm.idField]}}", data-button-label="{{link.label}}", data-button-request="{{link.request}}", data-button-class="context")
                        div(data-ng-if="link.type == 'download'", data-editor-button-download="", data-item-value="item", data-button-label="{{link.label}}", data-button-request="{{link.request}}", data-index="{{$index}}", data-button-class="context")
                        div(data-ng-if="link.type == 'targetBlank'", data-editor-button-target-blank="", data-item-value="item", data-button-label="{{link.label}}", data-button-request="{{link.request}}", data-index="{{$index}}", data-button-class="context")
               td(data-ng-repeat="fieldItem in vm.tableFields track by $index")
                  span.glyphicon(
                  data-ng-class="{'glyphicon-folder-open icon-mix-mode' : (vm.isMixMode && !((vm.entityType !== item[vm.subType]) && item[vm.subType] !== undefined))}",
                  data-ng-if='vm.prependIcon === fieldItem.field'
                  )
                  span(style="padding-left: {{ item.parentPadding ? item.parentPadding * 10 : 0 }}px;") {{item[fieldItem.field]}}
            tr(data-ng-if="vm.items.length == 0")
               td(colspan="{{vm.tableFields.length + 1}}")
                  | {{'ELEMENT_NO' | translate}}
         tfoot
            tr(data-ng-if="vm.metaKey")
               td(colspan="{{vm.tableFields.length + 1}}")
                  .meta-info {{'ELEMENTS' | translate}} {{vm.metaData.fromItem}} - {{vm.metaData.toItem}} {{'FROM' | translate}} {{vm.metaData.totalCount}}
            tr
               td(colspan="{{vm.tableFields.length + 1}}", data-ng-if="vm.pagination && vm.metaKey")
                  ul.pagination
                     li(data-ng-repeat="pageItem in vm.pageItemsArray", data-ng-class="pageItem.self ? 'active' : ''")
                        a(data-ng-if="!pageItem.self", href="{{pageItem.href}}", data-ng-click="vm.changePage($event,pageItem.href)") {{pageItem.label}}
                        span(data-ng-if="pageItem.self") {{pageItem.label}}
