.universal-editor
    .field-error-wrapper
        .error-item(data-ng-repeat="err in vm.errors") {{err}}
    .field-notify-wrapper
        .notify-item(data-ng-repeat="notify in vm.notifys") {{notify}}
    div(data-ng-if="vm.correctEntityType")
        .editor-header
            button.header-action-button.gray(data-ng-click="vm.toggleFilterVisibility()", data-ng-class="{ disabled : vm.entityLoaded }")
                | {{ 'BUTTON.FILTER' | translate}} {{ vm.visibleFilter ? "+" : "-" }}
            div.header-action-button(ng-repeat="button in vm.listHeaderBar track by $index")
                div(data-editor-button-create="", data-button-label="{{button.label}}", ng-if="button.type === 'create'", data-type="entity")
                div(data-ng-if="button.type == 'custom'", data-ng-click="vm.headerAction(button)") {{button.label}}
            div.header-action-button(ng-repeat="button in vm.mixedListHeaderBar track by $index")
                div(data-editor-button-create="", data-button-label="{{button.label}}", ng-if="button.type === 'create'", data-type="vm.mixEntityType")
                div(data-ng-if="button.type == 'custom'", data-ng-click="vm.headerAction(button)") {{button.label}}
        .editor-filter(data-ng-hide="vm.visibleFilter || (vm.entityLoaded || vm.loadingData)")
            .editor-filter-wrapper
                div(data-ng-repeat="filter in vm.filterFields", data-filter-wrapper="", data-filter-name="{{filter.name}}")
                .buttons-wrapper
                    button(data-ng-click="vm.applyFilter()", class="editor-action-button gray") {{'BUTTON.APPLY' | translate}}
                    button(data-ng-click="vm.clearFilter()", class="editor-action-button gray") {{'BUTTON.CLEAN' | translate}}
        .groups-action
            button(data-ng-if="vm.parentButton && !vm.entityLoaded && !vm.loadingData", data-ng-click="vm.getParent()", class="editor-action-button gray") {{'BUTTON.HIGHER_LEVEL' | translate}}
        .processing-status-wrapper(data-ng-show="vm.loadingData")
            .processing-status {{'PERFORMS_ACTIONS' | translate}}
        table(data-ng-hide="vm.entityLoaded || vm.loadingData", class="items-list")
            thead
                tr
                    td.actions-header.context-column
                    td( data-ng-repeat="fieldItem in vm.tableFields",
                        data-ng-class="{ 'active' : fieldItem.field == vm.sortField, 'asc' : vm.sortingDirection, 'desc' : !vm.sortingDirection}",
                        data-ng-click="vm.changeSortField(fieldItem.field)") {{fieldItem.displayName}}
            tbody(data-ng-if="vm.listLoaded")
                tr(data-ng-repeat="item in vm.items")
                    td.context-column
                        span.context-toggle(data-ng-click="vm.toggleContextView(item[vm.idField])", data-ng-show="vm.contextLinks.length") Toggle buttons
                        .context-menu-wrapper(data-ng-show="vm.contextId == item[vm.idField]")
                            .context-menu-item(data-ng-repeat="link in vm.contextLinks track by $index")
                                div(data-ng-if="link.type == 'custom'", data-ng-click="vm.contextAction($index,item[vm.idField])") {{link.label}}
                                div(data-ng-if="link.type == 'edit'", data-editor-button-edit="",data-entity-id="{{item[vm.idField]}}", data-button-label="{{link.label}}", data-button-params="{{link.params}}")
                                div(data-ng-if="link.type == 'delete'", data-editor-button-delete="",data-entity-id="{{item[vm.idField]}}", data-button-label="{{link.label}}", data-button-params="{{link.params}}")
                                div(data-ng-if="link.type == 'open'", data-editor-button-open="",data-entity-id="{{item[vm.idField]}}", data-entity-type="", data-button-label="{{link.label}}", data-button-params="{{link.params}}")
                                div(data-ng-if="link.type == 'download'" data-editor-button-download="" data-item-value="{{item}}" data-button-label="{{link.label}}" data-button-params="{{link.params}}" data-index="{{$index}}")
                                div(data-ng-if="link.type == 'targetBlank'" data-editor-button-target-blank="" data-item-value="{{item}}" data-button-label="{{link.label}}" data-button-params="link.request" data-index="{{$index}}")
                    td(data-ng-repeat="fieldItem in vm.tableFields")
                        span(style="padding-left: {{ item.parentPadding ? item.parentPadding * 10 : 0 }}px") {{item[fieldItem.field]}}
                tr(data-ng-if="vm.items.length == 0")
                    td(colspan="{{vm.tableFields.length + 1}}")
                        | {{'ELEMENT_NO' | translate}}
            tfoot(data-ng-if="vm.pagination")
                tr
                    td(colspan="{{vm.tableFields.length + 1}}")
                        .meta-info {{'ELEMENTS' | translate}} {{vm.metaData.fromItem}} - {{vm.metaData.toItem}} {{'FROM' | translate}} {{vm.metaData.totalCount}}
                tr
                    td(colspan="{{vm.tableFields.length + 1}}")
                        .links-wrapper
                            div(data-ng-repeat="pageItem in vm.pageItemsArray")
                                a(data-ng-if="!pageItem.self", href="{{pageItem.href}}", data-ng-click="vm.changePage(pageItem.href)") {{pageItem.label}}
                                span(data-ng-if="pageItem.self") {{pageItem.label}}
        div(data-ng-show="vm.entityLoaded", class="editor-body")
            .close-editor(data-ng-click="vm.closeButton()", ng-style="{'background-image':'url('+ vm.assetsPath +'/images/close.jpg)'}")
            .tab-label-wrapper
                .tab-item-label(data-ng-repeat="(tkey,tab) in vm.tabs", data-ng-class="vm.currentTab == tab.label ? 'active' : ''", data-ng-click="vm.currentTab = tab.label")
                    div {{tab.label}}
            .tab-content-wrapper
                .tab-item-content(data-ng-repeat="(tkey,tab) in vm.tabs" data-ng-show="vm.currentTab == tab.label")
                    .field-content-wrapper
                        div(data-ng-repeat="field in tab.fields" data-field-wrapper="" data-field-name="{{field.name}}")
            .field-error-bottom-wrapper
                .error-item(data-ng-repeat="err in vm.errors") {{err}}
            .field-notify-bottom-wrapper
                .notify-item(data-ng-repeat="notify in vm.notifys") {{notify}}
            .editor-entity-actions
                div(data-ng-if="vm.getButton('add') && vm.editorEntityType == 'new'", data-editor-button-add="", data-button-label="{{vm.getButton('add').label}}")
                div(data-ng-if="vm.getButton('presave')", data-editor-button-presave="", data-entity-id="{{vm.entityId}}", data-button-label="{{vm.getButton('presave').label}}")
                div(data-ng-if="vm.getButton('update') && vm.editorEntityType == 'exist'", data-editor-button-update="", data-entity-id="{{vm.entityId}}", data-button-label="{{vm.getButton('update').label}}")
                div(data-ng-if="vm.getButton('delete') && vm.editorEntityType == 'exist'", data-editor-button-delete="", data-entity-id="{{vm.entityId}}", data-button-label="{{vm.getButton('delete').label}}")
