div
    button.btn.btn-md.btn-success(data-ng-if="vm.setting.buttonClass == 'footer'") {{vm.label}}
    button.btn.btn-lg.btn-success(data-ng-if="vm.setting.buttonClass  == 'header'") {{vm.label}}
    button.editor-action-button(data-ng-if="vm.setting.buttonClass  == 'context'") {{vm.label}}