
<div class="editor-field-array">
    <div class="field-name-label label-array">
        <div data-ng-if="vm.hint" class="field-hint">
            <div class="hint-text">{{vm.hint}}</div>
        </div>{{vm.fieldDisplayName}}
    </div>
    <div class="field-array-wrapper">
        <div data-ng-if="vm.multiple">
            <div data-ng-repeat="array in vm.fieldsArray track by $index" data-ng-init="outerIndex = $index" class="item-array-wrapper">
                <div data-ng-repeat="field in vm.innerFields" data-field-wrapper="" data-field-name="{{field.name}}" data-parent-field="{{vm.fieldName}}" data-parent-field-index="{{outerIndex}}"></div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-lg-offset-6 col-md-offset-6 col-sm-offset-6 col-xs-offset-6">
                        <div data-ng-click="vm.removeItem(outerIndex)" data-ng-if="!vm.readonly" class="btn btn-primary btn-xs">{{'BUTTON.DELETE' | translate}}</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-lg-offset-6 col-md-offset-6 col-sm-offset-6 col-xs-offset-6">
                    <div data-ng-click="vm.addItem()" data-ng-if="!vm.readonly" class="btn btn-primary btn-sm">{{'BUTTON.ADD' | translate}}</div>
                </div>
            </div>
        </div>
        <div data-ng-if="!vm.multiple">
            <div data-ng-repeat="field in vm.innerFields" data-field-wrapper="" data-field-name="{{field.name}}" data-parent-field="{{vm.fieldName}}"></div>
        </div>
    </div>
</div>