.editor-field-array
    .field-name-label.label-array
        .field-hint(data-ng-if="vm.hint")
            .hint-text {{vm.hint}}
        | {{vm.fieldDisplayName}}
    .field-array-wrapper
        div(data-ng-if="vm.multiple")
            .item-array-wrapper(data-ng-repeat="array in vm.fieldsArray track by $index" data-ng-init="outerIndex = $index")
                div(data-ng-repeat="field in vm.innerFields" data-field-wrapper="" data-field-name="{{field.name}}" data-parent-field="{{vm.fieldName}}" data-parent-field-index="{{outerIndex}}")
                .row
                    .col-lg-6.col-md-6.col-sm-6.col-xs-6.col-lg-offset-6.col-md-offset-6.col-sm-offset-6.col-xs-offset-6
                        .btn.btn-primary.btn-xs(data-ng-click="vm.removeItem(outerIndex)", data-ng-if="!vm.readonly") {{'BUTTON.DELETE' | translate}}
            .row
                .col-lg-6.col-md-6.col-sm-6.col-xs-6.col-lg-offset-6.col-md-offset-6.col-sm-offset-6.col-xs-offset-6
                    .btn.btn-primary.btn-sm(data-ng-click="vm.addItem()", data-ng-if="!vm.readonly") {{'BUTTON.ADD' | translate}}
        div(data-ng-if="!vm.multiple")
            div(data-ng-repeat="field in vm.innerFields" data-field-wrapper="" data-field-name="{{field.name}}" data-parent-field="{{vm.fieldName}}")