label.field-name-label(ng-if="!vm.options.filter && !!vm.label", ng-class="{'inline-component': vm.disabled && !vm.multiple}")
    .field-hint(data-ng-if="!!vm.hint")
        .hint-text(ng-bind="::vm.hint")
    span(data-ng-class="{'editor-required': vm.required}" ng-bind="::vm.label")