label.field-name-label(ng-if="!vm.filter")
    .field-hint(data-ng-if="vm.hint")
        .hint-text(ng-bind="vm.hint")
    span(data-ng-class="{'editor-required': vm.required}" ng-bind="vm.fieldDisplayName")