div(style="background: #ebf1f3;")
    .close-editor(data-ng-click="vm.cancel()"
                  style="display: block; position: absolute; top: 22px; right: 22px; width: 13px; height: 13px; cursor: pointer;"
                  ng-style="{'background-image':'url('+ vm.assetsPath +'/images/close.jpg)'}")
    .ue-modal-header(ng-show="vm.header" style="padding: 10px;")
        label(ng-bind="vm.header.label")
    .ue-modal-body(ng-show="vm.body")
        .text(ng-bind="vm.body.text" ng-show="vm.body.text")
        .field-content-wrapper
            field-wrapper(data-setting="vm.body", data-ng-if="vm.body")
    .ue-modal-footer(data-ng-show="vm.footer")
        button-wrapper.editor-action-button(data-ng-repeat="button in vm.footer track by $index", data-setting="button")
