
<div class="filter-date-wrapper">
    <div title="{{vm.filterDisplayName}}" class="filter-name-label"><span>{{vm.filterDisplayName}}</span></div>
    <div class="filter-inner-wrapper">
        <div class="filter-start">
            <div class="editor-date">
                <input data-date-time="" data-ng-model="vm.filterValueStartDate" data-format="YYYY-MM-DD" data-max-view="year" data-min-view="date" data-view="date" class="form-control input-sm"/>
            </div>
            <div class="editor-time">
                <input data-ng-disabled="!vm.filterValueStartDate" data-date-time="" data-ng-model="vm.filterValueStartTime" data-format="HH:mm:ss" data-max-view="hours" data-min-view="minutes" data-view="hours" class="form-control input-sm"/>
            </div>
        </div><span class="divider">-</span>
        <div class="filter-end">
            <div class="editor-date">
                <input data-date-time="" data-ng-model="vm.filterValueEndDate" data-format="YYYY-MM-DD" data-max-view="year" data-min-view="date" data-view="date" class="form-control input-sm"/>
            </div>
            <div class="editor-time">
                <input data-ng-disabled="!vm.filterValueEndDate" data-date-time="" data-ng-model="vm.filterValueEndTime" data-format="HH:mm:ss" data-max-view="hours" data-min-view="minutes" data-view="hours" class="form-control input-sm"/>
            </div>
        </div>
    </div>
</div>