.filter-date-wrapper
    .filter-name-label(title="{{vm.filterDisplayName}}")
        span {{vm.filterDisplayName}}
    .filter-inner-wrapper
        .filter-start
            .editor-date
                input.form-control.input-sm(data-date-time="", data-ng-model="vm.filterValueStartDate", data-format="YYYY-MM-DD", data-max-view="year" data-min-view="date" data-view="date")
            .editor-time
                input.form-control.input-sm(data-ng-disabled="!vm.filterValueStartDate", data-date-time="", data-ng-model="vm.filterValueStartTime", data-format="HH:mm:ss", data-max-view="hours" data-min-view="minutes" data-view="hours")
        span.divider -
        .filter-end
            .editor-date
                input.form-control.input-sm(data-date-time="", data-ng-model="vm.filterValueEndDate", data-format="YYYY-MM-DD", data-max-view="year" data-min-view="date" data-view="date")
            .editor-time
                input.form-control.input-sm(data-ng-disabled="!vm.filterValueEndDate", data-date-time="", data-ng-model="vm.filterValueEndTime", data-format="HH:mm:ss", data-max-view="hours" data-min-view="minutes" data-view="hours")