div
    .col-lg-2.col-md-2.col-sm-2.col-xs-2(data-ng-if="vm.multiple")
        .item-colorpicker-wrapper.input-group(data-ng-repeat="field_item in vm.fieldValue track by $index")
            input.form-control.input-sm(type="text", data-ng-disabled="vm.readonly", data-minicolors="", data-ng-model="vm.fieldValue[$index]")
            span.input-group-btn
                button.btn.btn-default.btn-sm(data-ng-click="vm.removeItem($index)", data-ng-if="!vm.readonly") x
        .btn.btn-primary.btn-sm(data-ng-click="vm.addItem()", data-ng-if="!vm.readonly") {{'BUTTON.ADD' | translate}}
    .col-lg-2.col-md-2.col-sm-2.col-xs-2(data-ng-if="!vm.multiple")
        input.form-control.input-sm(type="text", data-ng-disabled="vm.readonly" data-minicolors="", data-ng-model="vm.fieldValue")

