div(ng-class="{'field-wrapper row':!vm.options.filter}")
    include ../../template/labelField/labelField
    div(ng-class="{'filter-inner-wrapper': vm.options.filter, 'field-element': !vm.options.filter}")
        div(data-ng-if="vm.multiple")
            .item-string-wrapper.input-group(data-ng-repeat="field_item in vm.fieldValue track by $index" ng-init="i = $index")
                .radio(data-ng-repeat="item in vm.optionValues", data-ng-class="{'radiodisabled': vm.readonly}")
                    label.radio-inline(data-ng-repeat="item in vm.optionValues", data-ng-class="{'radiodisabled': vm.readonly}")
                        input(type="radio", data-ng-disabled="vm.readonly" data-ng-model="vm.fieldValue[i]", value="{{item[vm.field_id]}}")
                        span(ng-bind = "item[vm.field_search]")
                span.input-group-btn
                    button.btn.btn-default.btn-sm(data-ng-click="vm.removeItem($index)", data-ng-if="!vm.readonly") x
            .btn.btn-primary.btn-sm(data-ng-click="vm.addItem()", data-ng-disabled="vm.readonly") {{'BUTTON.ADD' | translate}}
        div(data-ng-if="!vm.multiple")
            div(data-ng-repeat="item in vm.optionValues", data-ng-class="{'radiodisabled': vm.readonly}")
                label
                    input(type="radio", data-ng-disabled="vm.readonly" data-ng-model="vm.fieldValue", value="{{item[vm.field_id]}}")
                    span(ng-bind = "item[vm.field_search]")
    include ../../template/errorField/errorField