extends ../../template/layouts/layoutComponent

block append content
    include ../../template/labelField/labelField.jade
    include ../../template/errorMessages/template.jade
    .components-body(ng-if="!vm.unShowComponentIfError || (vm.unShowComponentIfError && !vm.warnings.length && !vm.dangers.length)" ng-class="{'disabled-field': vm.disabled}")
        div(ng-class="{'filter-inner-wrapper': vm.options.filter, 'field-element': !vm.options.filter}", ng-if="!vm.disabled || vm.options.filter")
            div(data-ng-repeat="item in vm.optionValues", data-ng-class="{'radiodisabled': vm.readonly, 'inline-component': vm.inline}")
                label.radio
                    input(type="radio", data-ng-disabled="vm.readonly" data-ng-model="vm.fieldValue", value="{{::item[vm.fieldId]}}")
                    span(ng-bind = "::item[vm.fieldSearch]")
            .processing-status-wrapper(ng-if="vm.loadingData")
                .processing-status(translate="PERFORMS_ACTIONS")
        .disabled-field(ng-if="vm.disabled && !vm.options.filter")
            include ../../template/disabledField/default.jade