div
    .filter-name-label(title="{{vm.filterDisplayName}}")
        span {{vm.filterDisplayName}}
    .filter-inner-wrapper
        label.radio-inline(data-ng-repeat="item in vm.selectedValues")
            input(type="radio", data-ng-model="vm.filterValue", value="{{item[vm.field_id]}}")
            |{{item[vm.field_search]}}
