div
   .disabled_colorpicker(ng-if = "!vm.multiple", ng-style="{ 'background-color': vm.fieldValue}")
   .disabled_colorpicker(ng-if = "vm.multiple", ng-repeat="value in vm.fieldValue track by $index", ng-style="{ 'background-color': value}")