div(data-ng-show="!vm.loadingData")
    span(ng-bind="::vm.previewValue", ng-if = "!vm.multiple && !vm.whiteSpace")
    pre(ng-bind="::vm.previewValue", ng-if = "!vm.multiple && vm.whiteSpace")
    div(ng-repeat="value in vm.previewValue track by $index", ng-if = "vm.multiple")
        pre(ng-bind="value", ng-if = "vm.whiteSpace")
        span(ng-bind="value", ng-if = "!vm.whiteSpace")