div
    span(ng-bind="::vm.previewValue", data-ng-show="!vm.loadingData", ng-if = "!vm.multiple")
    div(ng-repeat="value in vm.previewValue track by $index", data-ng-show="!vm.loadingData", ng-if = "vm.multiple")
        span(ng-bind="value")