
<div class="checkbox-wrapper">
    <div class="row">
        <div class="field-name-label col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div data-ng-if="vm.hint" class="field-hint">
                <div class="hint-text">{{vm.hint}}</div>
            </div><span data-ng-class="vm.required ? 'editor-required' : '' ">{{vm.fieldDisplayName}}:</span>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div data-ng-repeat="item in vm.selectedValues" data-ng-class="vm.readonly ? 'disabled' : ''" class="radio">
                <label>
                    <input type="radio" data-ng-disabled="vm.readonly" data-ng-model="vm.fieldValue" value="{{item[vm.field_id]}}"/>{{item[vm.field_search]}}
                </label>
            </div>
        </div>
    </div>
    <div class="field-error-wrapper">
        <div data-ng-repeat="err in vm.error" class="error-item alert alert-danger">{{err}}</div>
    </div>
</div>