div
    .col-lg-6.col-md-6.col-sm-6.col-xs-6
        .radio(data-ng-repeat="item in vm.selectedValues", data-ng-class="vm.readonly ? 'disabled' : ''")
            label
                input(type="radio", data-ng-disabled="vm.readonly" data-ng-model="vm.fieldValue", value="{{item[vm.field_id]}}")
                |{{item[vm.field_search]}}
