.filter-time-wrapper
   .filter-name-label
      span {{vm.filterDisplayName}}
   .filter-inner-wrapper
      .filter-start
         .editor-time
            input.form-control.input-sm(data-date-time="", data-ng-model="vm.filterValueStartTime", data-format="HH:mm:ss", data-max-view="hours", data-min-view="minutes", data-view="hours")
      span.divider -
      .filter-end
         .editor-time
            input.form-control.input-sm(data-date-time="", data-ng-model="vm.filterValueEndTime", data-format="HH:mm:ss", data-max-view="hours", data-min-view="minutes", data-view="hours")