.ue-button-link-body(ng-style='(!vm.template && vm.setting.buttonClass == "context") ? {margin: 0} : {}')
    div(data-ng-if="!vm.template")
        button.btn.btn-md.btn-create(data-ng-class="{ processing : vm.options.isLoading}", data-ng-if="vm.setting.buttonClass == 'header'", ng-click="vm.click()")
            | {{::vm.label}}
        button.editor-action-button(data-ng-if="vm.setting.buttonClass == 'context'", ng-click="vm.click()") {{::vm.label}}
    .ue-button-template(data-ng-if="vm.template", on-render-template="")