.universal-editor .ue-tab-wrapper {
    & .button-footer {
        margin-left: 15px;
    }
    .nav.nav-tabs {
        min-height: 22px;
    }
    & .tab-content-wrapper {
        background: #ebf1f3;
        & .clear-padding-left {
            padding-left: 0;
        }
        & .tab-item-content>.component-wrapper {
            display: inline-block;
            width: 100%;
        }
    }
}