
<div class="ue-tab-wrapper">
    <div class="nav nav-tabs">
        <li data-ng-repeat="tab in vm.tabs" data-ng-class="{'active': vm.currentTab == tab.label}" data-ng-click="vm.activateTab(tab)"><a href="" ng-bind="tab.label"></a></li>
    </div>
    <div class="tab-content-wrapper">
        <div data-ng-repeat="tab in vm.tabs" data-ng-show="vm.currentTab == tab.label" class="tab-item-content">
            <div class="field-content-wrapper">
                <component-wrapper data-ng-repeat="field in tab.fields" data-setting="field" data-options="vm.options" data-button-class="footer"></component-wrapper>
            </div>
        </div>
    </div>
</div>