div
    button {{vm.label}}
    //button.btn.btn-md.btn-success(data-ng-if="vm.class == 'editor'") {{vm.label}}
    //button.btn.btn-lg.btn-success(data-ng-if="vm.class == 'header'") {{vm.label}}
    //button.editor-action-button(data-ng-if="vm.class == 'context'") {{vm.label}}