
<div>
    <div data-ng-if="vm.multiple" data-ng-class="vm.classTextarea">
        <div data-ng-repeat="field_item in vm.fieldValue track by $index" class="item-textarea-wrapper">
            <div>
                <textarea name="{{vm.fieldName}}" rows="{{vm.rows}}" data-ng-disabled="vm.readonly" data-ng-model="vm.fieldValue[$index]" data-ng-blur="vm.inputLeave(vm.fieldValue[$index])" class="form-control editor-textarea"></textarea>
                <div data-ng-click="vm.removeItem($index)" data-ng-if="!vm.readonly" class="btn btn-default btn-sm">x</div>
            </div>
        </div>
        <div data-ng-click="vm.addItem()" data-ng-if="!vm.readonly" class="btn btn-primary btn-sm">{{'BUTTON.ADD' | translate}}</div>
    </div>
    <div data-ng-if="!vm.multiple" data-ng-class="vm.classTextarea">
        <div>
            <textarea name="{{vm.fieldName}}" rows="{{vm.rows}}" data-ng-disabled="vm.readonly" data-ng-model="vm.fieldValue" data-ng-blur="vm.inputLeave(vm.fieldValue)" class="form-control editor-textarea"></textarea>
        </div>
    </div>
</div>