
<div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
        <div data-ng-show="vm.preloadedData" class="selected-values">
            <div data-ng-repeat="acItem in vm.selectedValues" class="autocomplete-item">{{acItem[vm.field_search]}}<span data-ng-click="vm.removeFromSelected(acItem)" data-ng-if="!vm.readonly" class="remove-from-selected">×</span></div>
        </div>
        <div data-ng-show="vm.preloadedData &amp;&amp; vm.selectedValues.length &lt; vm.maxItemsCount" class="autocomplete-input-wrapper">
            <input type="text" data-ng-hide="(!vm.multiple &amp;&amp; vm.selectedValues.length &gt;= 1)" ng-disabled="vm.readonly" data-ng-model="vm.inputValue" class="form-control input-sm"/>
            <div data-ng-show="vm.searching" class="loader-search-wrapper">
                <div class="loader-search">{{'LOADING' | translate}}</div>
            </div>
            <div data-ng-if="!vm.readonly &amp;&amp; (vm.possibleValues.length &gt; 0)" class="possible-values">
                <div data-ng-repeat="possible in vm.possibleValues" data-ng-mouseover="vm.activeElement = $index" data-ng-click="vm.addToSelected(possible)" data-ng-class="vm.activeElement == $index ? 'active' : ''" class="possible-value-item">{{possible[vm.field_search]}}</div>
            </div>
        </div>
    </div>
</div>