.universal-editor,
.modal-dialog {
    .field-wrapper-ue-button {
        display: inline-block;
        outline: none;
        width: 100%;
        & .ue-button-body {
            .button-loading {
                position: relative;
                button {
                    opacity: 0.7;
                }
                .processing-status-wrapper {
                    margin-top: 15%;
                    z-index: 100;
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                    left: 0;
                    right: 0;
                    position: absolute;
                    .processing-status {
                        margin-left: 15px;
                        opacity: 1;
                    }
                }
            }
            .processing-status-wrapper {
                display: none;
            }
            & .btn-header {
                margin: 5px 5px 5px 0;
            }
            button.btn.btn-md {
                outline: none;
            }
            & .small {
                padding: 0 5px;
                height: 15px;
                font-size: 8px;
                line-height: 15px;
            }
            & .btn-delete {
                .glyphicon-remove {
                    padding-right: 5px;
                }
            }
            & .btn-delete:hover {
                color: #d2322d;
            }
        }
    }
}