.universal-editor {
    .field-wrapper-ue-button {
        display: inline-block;
        outline: none;
        width: 100%;
        & .ue-button-body {
            .button-loading {
                position: relative;
                button {
                    opacity: 0.5;
                }
                &.button-loading-preloader {
                    .processing-status-wrapper {
                        z-index: 100;
                        display: block;
                        margin: auto;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        top: 0;
                        position: absolute;
                        .processing-status {
                            margin-left: 15px;
                            opacity: 1;
                        }
                    }
                }
            }
            .processing-status-wrapper {
                display: none;
            }
            & .btn-header {
                margin: 5px 5px 5px 0;
            }
            button.btn.btn-md {
                outline: none;
            }
            & .small {
                padding: 0 5px;
                height: 15px;
                font-size: 8px;
                line-height: 15px;
            }
            & .btn-delete {
                .glyphicon-remove {
                    padding-right: 5px;
                }
            }
            & .btn-delete:hover {
                color: #d2322d;
            }
        }
    }
}