.universal-editor,
.modal-dialog {
    .field-wrapper-ue-button {
        display: inline-block;
        outline: none;
        width: 100%;
        & .ue-button-body {
            & .btn-header {
                margin: 5px 5px 5px 0;
            }
            & .small {
                padding: 0 5px;
                height: 15px;
                font-size: 8px;
                line-height: 15px;
            }
            & .btn-delete {
                .glyphicon-remove {
                    padding-right: 5px;
                }
            }
            & .btn-delete:hover {
                color: #d2322d;
            }
        }
    }
}