.checkbox-wrapper
    .row
        .field-name-label.col-lg-6.col-md-6.col-sm-6.col-xs-6
            .field-hint(data-ng-if="vm.hint")
                .hint-text {{vm.hint}}
            span(data-ng-class="vm.required ? 'editor-required' : '' ") {{vm.fieldDisplayName}}:
        .col-lg-6.col-md-6.col-sm-6.col-xs-6
            .checkbox(data-ng-repeat="item in vm.selectedValues", data-ng-class="vm.readonly ? 'disabled' : ''")
                label
                    input(type="checkbox", data-ng-disabled="vm.readonly", data-checklist-model="vm.fieldValue", data-checklist-value="item[vm.field_id]")
                    |{{item[vm.field_search]}}
    .field-error-wrapper
        .error-item.alert.alert-danger(data-ng-repeat="err in vm.error") {{err}}
