div(ng-class="{'readonly-component': vm.readonly}")
    ul.pagination.col-lg-8.col-md-8.col-sm-8.col-xs-8
        li(data-ng-repeat="pageItem in vm.pageItemsArray", data-ng-class="pageItem.self ? 'active' : ''", ng-if="vm.pageItemsArray && vm.pageItemsArray.length > 1")
            a(data-ng-if="!pageItem.self", href="#", data-ng-click="vm.changePage($event, pageItem)") {{pageItem.label}}
            span(data-ng-if="pageItem.self") {{pageItem.label}}
    .meta-info.col-lg-4.col-md-4.col-sm-4.col-xs-4(data-ng-if="::!vm.dataSource.tree")
        .row
            .col-xs-12
                span.per-page(data-ng-if="::(vm.possiblePages && vm.possiblePages.length > 1)")
                    span {{'PER-PAGE' | translate}}
                        select(ng-model="vm.perPage" ng-change="vm.changePerPage()")
                            option(data-ng-repeat="option in vm.possiblePages" data-ng-value="option") {{ option }}
                span.possible-pages(data-ng-if="::(!vm.possiblePages || vm.possiblePages.length == 0)") {{'ELEMENTS' | translate}} 
                span.possible-pages(data-ng-if="vm.metaKey && vm.metaData.toItem" ) {{vm.metaData.fromItem}} — {{vm.metaData.toItem}} {{'FROM' | translate}} {{vm.metaData.totalCount}}
