div
    ul.pagination.col-lg-10.col-md-10.col-sm-10.col-xs-10
        li(data-ng-repeat="pageItem in vm.pageItemsArray", data-ng-class="pageItem.self ? 'active' : ''")
            a(data-ng-if="!pageItem.self", href="{{pageItem.href}}", data-ng-click="vm.changePage($event,pageItem.href)") {{pageItem.label}}
            span(data-ng-if="pageItem.self") {{pageItem.label}}
    .meta-info.col-lg-2.col-md-2.col-sm-2.col-xs-2(dana-ng-if="vm.metaKey") {{'ELEMENTS' | translate}} {{vm.metaData.fromItem}} - {{vm.metaData.toItem}} {{'FROM' | translate}} {{vm.metaData.totalCount}}
