  .universal-editor {
      & .grid-toolbar {
          padding: 0px 0px 5px 0px;
          .header-action-button {
              border: none;
              display: inline-block;
              margin-right: 10px;
              outline: none;
          }
          & .filter-connect {
              width: 32px;
              height: 16px;
              position: absolute;
              background-color: #cbd6da;
              margin-top: 32px;
              display: none;
          }
      }
      & .groups-action {
          margin-bottom: 10px;
      }
      & .ue-grid {
          padding: 10px 0;
          /* .component-wrapper {
              width: auto;
          }*/
          tfoot,
          .context-menu-item,
          .row.footer {
              .component-wrapper {
                  width: 100%;
              }
          }
          .dndPlaceholder {
              td {
                  flex-basis: 100%;
              }
          }
          .field-wrapper-ue-button {
              & .ue-button-body {
                  .button-loading {
                      position: relative;
                      .processing-status-wrapper {
                          display: none;
                      }
                  }
              }
          }
          & .table.items-list {
              background-color: #FFFFFF;
              &.drag-mode {
                  border: 1px solid #ddd;
              }
              border-spacing: 0;
              & .table-cell {
                  .field-name-label {
                      display: none;
                  }
                  .field-array-wrapper.editor-group {
                      .clear-padding-left {
                          width: auto;
                      }
                  }
                  &.context-column {
                      width: 15px;
                      min-width: 32px;
                      .context-toggle {
                          display: block;
                          width: 15px;
                          height: 13px;
                          border-top: 3px solid #94A0A5;
                          border-bottom: 3px solid #94A0A5;
                          position: relative;
                          text-indent: -9999px;
                          cursor: pointer;
                          &:before {
                              content: '';
                              display: block;
                              position: absolute;
                              top: 2px;
                              width: 15px;
                              height: 3px;
                              background-color: #94A0A5;
                          }
                      }
                      .context-menu-wrapper {
                          position: absolute;
                          top: 28px;
                          background: #f3f3f3;
                          border-radius: 1px;
                          border-width: 1px;
                          border-style: double;
                          border-color: #d2d2d2;
                          box-shadow: 3px 3px 10px rgba(14, 14, 14, 0.15);
                          overflow: hidden;
                          z-index: 10;
                          display: block;
                          height: auto;
                          width: auto;
                          .context-menu-item {
                              button {
                                  padding: 6px 8px 6px 12px;
                              }
                              cursor: pointer;
                              &:hover {
                                  background-color: #e0e0e0;
                              }
                              display: block;
                              position: relative;
                              min-width: 150px;
                          }
                          .editor-action-button {
                              color: #000;
                              width: 100%;
                              outline: 0;
                              text-transform: none;
                              font-size: 12px;
                              text-shadow: none;
                              padding: 0;
                              margin: 0;
                              background: transparent;
                              border: none;
                              border-radius: 0px;
                              line-height: 15px;
                              text-align: left;
                          }
                      }
                  }
                  vertical-align: top;
                  position: relative;
                  &.ue-column-sortable {
                      label {
                          margin: 0 20px 0 0;
                      }
                      & span.glyphicon {
                          float: right;
                          display: inline-block;
                          position: absolute;
                          right: 5px;
                          top: 10px;
                      }
                  }
                  & span.glyphicon {
                      display: none;
                      &.icon-mix-mode {
                          display: inline-block;
                          position: absolute;
                          padding: 8px 0;
                          &+.component-wrapper {
                              display: inline-block;
                              padding-left: 20px !important;
                          }
                      }
                  }
                  .ue-component-errors {
                      .alert {
                          display: inline-block;
                          min-width: auto;
                      }
                  }
              }
              tr {
                  display: flex;
              }
              tr:hover {
                  background-color: #f3f3f3;
              }
              & thead td {
                  font-weight: 700;
                  &.ue-column-sortable {
                      cursor: pointer;
                      .glyphicon-sort {
                          color: rgba(153, 153, 153, 0.48);
                      }
                      .glyphicon-sort-by-attributes-alt or .glyphicon-sort-by-attributes-desc {
                          color: #000000;
                      }
                  }
                  border-bottom-width: 1px;
                  &.active.asc:after {
                      content: "";
                      width: 0;
                      height: 0;
                      border-left: 5px solid transparent;
                      border-right: 5px solid transparent;
                      border-bottom: 7px solid #000000;
                      display: block;
                      float: right;
                      transform: scale(-1, -1);
                      margin-top: 3px;
                  }
                  &.active.desc:after {
                      content: "";
                      width: 0;
                      height: 0;
                      border-left: 5px solid transparent;
                      border-right: 5px solid transparent;
                      border-top: 7px solid #000000;
                      display: block;
                      float: right;
                      transform: scale(-1, -1);
                      margin-top: 3px;
                  }
                  &.dragIcon {
                      width: 30px;
                      &:before {
                          // display: none;
                          visibility: hidden;
                      }
                  }
              }
              & tbody {
                  .row-empty .table-cell,
                  .table-cell-loading {
                      width: 100%;
                  }
                  & td {
                      font-size: 12px;
                      & .field-wrapper.row {
                          margin: 0;
                          padding: 0;
                      }
                      &.td-loading {
                          padding: 12px
                      }
                      .dnd-expand-item.dragIcon {
                          cursor: -webkit-grab;
                      }
                  }
              }
              & tfoot {
                  & tr {
                      & td {
                          width: 100%;
                          background-color: #cbd6da !important;
                      }
                  }
              }
          }
          & .loader-search-wrapper {
              display: inline-block;
              width: 30px;
              margin-left: 10px;
              height: 12px;
          }
          .filter-component .loader-search-wrapper {
              position: absolute;
              right: -45px;
              top: 11px;
          }
      }
  }