.ue-grid(ng-class="[vm.classComponent, {'readonly-component': vm.readonly}]")
    .ue-grid-body.ue-component-body
        .grid-toolbar
            component-wrapper.header-action-button(ng-repeat="button in ::vm.listHeaderBar track by $index", data-setting="button", data-button-class="header", data-options="vm.options")
        .grid-filter-edit
        include ../../template/errorMessages/template
        .groups-action(data-ng-if="vm.parentButton")
            button.btn.btn-sm.btn-default(data-ng-click="vm.getParent()" ng-disabled="vm.options.isLoading" translate="BUTTON.HIGHER_LEVEL")
    
