
<div data-ng-show="isOpen">
    <div data-ng-repeat="option in options track by $index" class="dropdown-items__item">
        <div class="option">
            <div data-ng-if="::selectBranches || !option[childCountField]" data-ng-click="onToggle($event, option)" data-ng-class="{&quot;multi_radio&quot; : !multiple}" class="option__checkbox">
                <div data-ng-style="{'display': option.checked ? 'block' : '', 'background-image':'url('+ assetsPath + (!multiple ? '/images/radio_green.png)' : '/images/checkbox_green.png)')}" data-ng-class="{&quot;multi_radio&quot; : !multiple}" class="checkbox__check"></div>
            </div>
            <div data-ng-click="onToggle($event, option, true)" class="option__label"><span data-ng-bind="option[fieldSearch]"></span> <span data-ng-if="option[childCountField]" data-ng-class="{'option__child-count_open': option.isOpen}" class="option__child-count">({{option[childCountField]}})</span>
            </div>
        </div>
        <div data-ng-if="option[childCountField]" data-ng-show="!!option.loadingData" class="processing-status-wrapper">
            <div class="processing-status">Выполняется действие</div>
        </div>
        <div data-ng-if="option.childOpts" data-dropdown-items="" data-options="option.childOpts" data-is-open="option.isOpen" data-field-search="fieldSearch" data-child-count-field="childCountField" data-on-toggle="onToggle" data-api="api" data-select-branches="selectBranches" data-assets-path="assetsPath" data-multiple="multiple" class="dropdown-items__children"></div>
    </div>
</div>