.universal-editor {
    .field-date {
        width: 200px;
    }
    .editor-filter-body {
        .field-date {
            width: 135px;
        }
    }
    .field-wrapper-ue-date div[date-picker-wrapper] {
        z-index: 56;
    }
    .field-wrapper-ue-date {
        span.input-group-addon {
            cursor: pointer;
        }
        .ue-component-body {
            .field-element {
                .item-datepicker-wrapper {
                    margin-bottom: 5px;
                }
            }
        }
    }
}