.field-wrapper.row(ng-if="!vm.filter")
    .form-group
        include ../../template/labelField/labelField
        .field-element
            .col-lg-2.col-md-2.col-sm-3.col-xs-3(data-ng-if="vm.multiple")
                .item-datepicker-wrapper.input-group(data-ng-repeat="field_item in vm.fieldValue track by $index")
                    input.form-control.input-sm(data-date-time="", name="{{vm.fieldName}}", data-ng-disabled="vm.readonly" data-ng-model="vm.fieldValue[$index]", data-format="DD.MM.YYYY", data-max-view="year" data-min-view="date" data-view="date")
                    span.input-group-btn
                        button.btn.btn-default.btn-sm(data-ng-click="vm.removeItem($index)", data-ng-if="!vm.readonly") x
                .btn.btn-primary.btn-sm(data-ng-click="vm.addItem()", data-ng-if="!vm.readonly || !vm.emptyRequiredField") {{'BUTTON.ADD' | translate}}
            .col-lg-2.col-md-2.col-sm-3.col-xs-3(data-ng-if="!vm.multiple")
                input.form-control.input-sm(data-date-time="", name="{{vm.fieldName}}", data-ng-disabled="vm.readonly" data-ng-model="vm.fieldValue", data-format="DD.MM.YYYY", data-max-view="year" data-min-view="date" data-view="date")
    include ../../template/errorField/errorField
.filter-date-wrapper(ng-if="vm.filter")
    .filter-name-label
        span(ng-bind="vm.fieldDisplayName")
    .filter-inner-wrapper
        .filter-start
            .editor-date
                input.form-control.input-sm(data-date-time="", data-ng-model="vm.filterValueStartDate", data-format="YYYY-MM-DD", data-max-view="year" data-min-view="date" data-view="date")
            .editor-time
                input.form-control.input-sm(data-ng-disabled="!vm.filterValueStartDate", data-date-time="", data-ng-model="vm.filterValueStartTime", data-format="HH:mm:ss", data-max-view="hours" data-min-view="minutes" data-view="hours")
        span.divider -
        .filter-end
            .editor-date
                input.form-control.input-sm(data-date-time="", data-ng-model="vm.filterValueEndDate", data-format="YYYY-MM-DD", data-max-view="year" data-min-view="date" data-view="date")
            .editor-time
                input.form-control.input-sm(data-ng-disabled="!vm.filterValueEndDate", data-date-time="", data-ng-model="vm.filterValueEndTime", data-format="HH:mm:ss", data-max-view="hours" data-min-view="minutes" data-view="hours")