
<div ng-class="{'field-wrapper row':!vm.options.filter}">
    <label ng-if="!vm.options.filter" class="field-name-label">
        <div data-ng-if="vm.hint" class="field-hint">
            <div ng-bind="vm.hint" class="hint-text"></div>
        </div><span data-ng-class="{'editor-required': vm.required}" ng-bind="vm.label"></span>
    </label>
    <div ng-class="{'filter-inner-wrapper': vm.options.filter, 'field-element': !vm.options.filter}" ng-style="{'overflow:auto':vm.multiple}"> 
        <div data-ng-if="vm.multiple" class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
            <div data-ng-repeat="field_item in vm.fieldValue track by $index" class="item-datepicker-wrapper input-group">
                <input data-date-time="" name="{{vm.fieldName}}" data-ng-disabled="vm.readonly" data-ng-model="vm.fieldValue[$index]" min-date="vm.minDate" data-format="{{vm.format || 'DD.MM.YYYY'}}" data-max-view="year" data-min-view="date" data-view="date" class="form-control input-sm"/><span class="input-group-btn">
                    <button data-ng-click="vm.removeItem($index)" data-ng-if="!vm.readonly" class="btn btn-default btn-sm">x</button></span>
            </div>
            <div data-ng-click="vm.addItem()" data-ng-disabled="vm.readonly" class="btn btn-primary btn-sm">{{'BUTTON.ADD' | translate}}</div>
        </div>
        <div data-ng-if="!vm.multiple" ng-class="{'col-lg-2 col-md-2 col-sm-3 col-xs-3': !vm.options.filter}">
            <input data-date-time="" name="{{vm.fieldName}}" data-ng-disabled="vm.readonly" data-ng-model="vm.fieldValue" data-min-date="vm.minDate" data-format="{{vm.format || 'DD.MM.YYYY'}}" data-min-view="date" data-view="date" class="form-control input-sm"/>
        </div>
    </div>
</div>
<div ng-if="!vm.options.filter" class="field-error-wrapper">
    <div data-ng-repeat="err in vm.error track by $index" class="error-item alert alert-danger">{{err}}</div>
</div>