
<div class="editor-autocomplete-wrapper">
    <div class="filter-name-label"><span>{{vm.filterDisplayName}}</span></div>
    <div class="filter-inner-wrapper">
        <div data-ng-show="vm.preloadedData" data-ng-class="{&quot;active&quot; : vm.isActivePossible}" data-ng-click="inputFocus()" class="autocomplete-input-wrapper form-control">
            <input type="text" name="{{vm.filterName}}" data-ng-model="vm.inputValue" data-ng-focus="vm.focusPossible(true)" data-ng-blur="vm.focusPossible(false)" data-ng-style="vm.classInput" placeholder="{{vm.placeholder}}" class="autocomplete-field-search"/><span data-ng-if="!vm.multiple &amp;&amp; !!vm.selectedValues.length" data-ng-click="vm.removeFromSelected($event)" class="selecte-delete selecte-delete-autocomplete">×</span>
            <div data-ng-show="vm.searching" class="loader-search-wrapper">
                <div class="loader-search">{{'LOADING' | translate}}</div>
            </div>
            <div data-ng-if="vm.possibleValues.length &gt; 0 &amp;&amp; vm.showPossible" class="possible-values possible-autocomplete active possible-bottom">
                <div class="possible-scroll">
                    <div data-ng-repeat="possible in vm.possibleValues" data-ng-mouseover="vm.activeElement = $index" data-ng-click="vm.addToSelected($event,possible)" data-ng-class="vm.activeElement == $index ? 'active' : ''" class="possible-value-item">{{possible[vm.filter_search]}}</div>
                </div>
            </div>
        </div>
    </div>
</div>