
<div ng-class="{'field-wrapper row':!vm.options.filter, 'filter-wrapper-field': vm.options.filter}">
    <div on-render-template="on-render-template" ng-class="{'component-filter': vm.options.filter,                   'component-edit': ((vm.templates.edit &amp;&amp; !vm.options.filter) || (vm.templates.filter &amp;&amp; vm.options.filter)) &amp;&amp; vm.regim === 'edit',                   'component-preview': vm.templates.preview &amp;&amp; vm.regim === 'preview'}" class="component-template"></div>
</div>