.modal-dialog .ue-modal-body .editor-body .close-editor {
  display: none;
}

.editor-entity-actions {
  background: #ebf1f3;
  padding: 10px;
  border-top: 1px solid #E1E9EB;
}

.filter-component {
  max-width: 600px;
  margin: 10px 5px;

  & .editor-filter-body {
    padding: 5px 15px;
    & .component-wrapper  {
      display: block;
      margin-left: 205px;
      & .filter-inner-wrapper > div[class*="col-"] {
        padding: 0;
      }
    }
    & .filter-content-wrapper {
      margin-bottom: 10px;
      display: inline-block;
      width:100%;
      & label.filter-name-label {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
  & .editor-filter-footer {
    margin-top: 15px;
  }
}