div(style="margin: 10px 5px;")
    button.btn.btn-lg.btn-default.filter-button(data-ng-click="vm.toggleFilterVisibility()") Фильтр {{vm.visiable ? '-' : '+'}}
    .editor-filter(data-ng-hide="!vm.visiable")
        .editor-filter-wrapper(ng-keyup="vm.clickEnter($event)")
            .editor-filter-head
                label(ng-bind="vm.header.label")
            .editor-filter-body(style="padding: 5px 15px;")
                .filter-content-wrapper(ng-repeat="group in vm.body track by $index")
                    label.filter-name-label 
                        span(ng-bind="group.label")
                    component-wrapper(ng-repeat="filter in group.filters" data-setting="filter.field" data-filter="true" data-filter-parameters='filter.parameters' style="{{filter.ngStyle}}")
            .editor-filter-footer
                component-wrapper(data-ng-repeat="button in vm.footer track by $index", data-setting="button", data-button-class="footer")
