
<div class="filter-component">
    <button data-ng-click="vm.toggleFilterVisibility()" class="btn btn-lg btn-default glyphicon glyphicon-filter filter-button"> </button>
    <div data-ng-hide="!vm.visiable" class="editor-filter">
        <div ng-keyup="vm.clickEnter($event)" class="editor-filter-wrapper">
            <div class="editor-filter-body">
                <div ng-repeat="group in vm.body track by $index" class="filter-content-wrapper">
                    <label ng-bind="group.label" title="{{group.label}}" class="filter-name-label"></label>
                    <component-wrapper ng-repeat="filter in group.filters" data-setting="filter.field" data-options="filter.options" style="{{filter.ngStyle}}"></component-wrapper>
                </div>
            </div>
            <div class="editor-filter-footer">
                <component-wrapper data-ng-repeat="button in vm.footer track by $index" data-setting="button" data-options="vm.options" data-button-class="header"></component-wrapper>
            </div>
        </div>
    </div>
</div>