div
    .filter-name-label(title="{{vm.filterDisplayName}}")
        span {{vm.filterDisplayName}}
    .filter-inner-wrapper
        label.checkbox-inline(data-ng-repeat="item in vm.selectedValues")
            input(type="checkbox", data-checklist-model="vm.filterValue", data-checklist-value="item[vm.field_id]")
            |{{item[vm.field_search]}}
