.minicolors input {

  &.wrong {
    border : 1px solid red;
    height: 32px;
  }

  height: 30px;
}

 .btn.btn-primary.add-array-item {
    margin: 5px 0;
  }


.minicolors-theme-bootstrap .minicolors-input {
  padding-left: 34px;
  width: 97px;
}

.minicolors-swatch{
  z-index: 10;
}