.universal-editor,
.modal-dialog {
    & .field-array-wrapper .add-more {
        margin-top: 10px;
    }
    & .editor-field-group {
        overflow: visible;
        &>.field-name-label {
            background-color: #d3dfe2;
            text-align: center;
            padding: 10px 0;
            display: block;
        }
    }
    & .field-wrapper-ue-group {
        .btn-remove-item, .btn-add-item {
            margin: 0 15px;
        }
        & .editor-group {
            & .clear-padding-left {
                padding-left: 0;
            }
            & .item-array-wrapper .btn {
              margin: 0 0 10px 15px;
            }
            padding: 5px 0;
        }
    }
}