.field-wrapper.row(ng-if="!vm.filter")
    .form-group
        include ../../template/labelField/labelField
        .field-element
            .col-lg-2.col-md-2.col-sm-3.col-xs-3(data-ng-if="vm.multiple")
                .item-timepicker-wrapper.input-group(data-ng-repeat="field_item in vm.fieldValue track by $index")
                    input.form-control.input-sm(name="{{vm.fieldName}}", data-ng-disabled="vm.readonly", data-ng-model="vm.fieldValue[$index]", class="timepicker", data-date-time="", data-format="HH:mm", data-max-view="hours", data-min-view="minutes", data-view="hours")
                    span.input-group-btn
                        button.btn.btn-default.btn-sm(data-ng-click="vm.removeItem($index)", data-ng-if="!vm.readonly") x
                .btn.btn-primary.btn-sm(data-ng-click="vm.addItem()", data-ng-if="!vm.readonly") {{'BUTTON.ADD' | translate}}
            .col-lg-2.col-md-2.col-sm-3.col-xs-3(data-ng-if="!vm.multiple")
                input.form-control.input-sm(name="{{vm.fieldName}}", data-ng-disabled="vm.readonly", data-ng-model="vm.fieldValue", class="timepicker", data-date-time="", data-format="HH:mm", data-max-view="hours", data-min-view="minutes", data-view="hours")
    include ../../template/errorField/errorField
.filter-time-wrapper(ng-if="vm.filter")
   .filter-name-label
      span(ng-bind="vm.fieldDisplayName")
   .filter-inner-wrapper
      .filter-start
         .editor-time
            input.form-control.input-sm(data-date-time="", data-ng-model="vm.filterValueStartTime", data-format="HH:mm", data-max-view="hours", data-min-view="minutes", data-view="hours")
      span.divider -
      .filter-end
         .editor-time
            input.form-control.input-sm(data-date-time="", data-ng-model="vm.filterValueEndTime", data-format="HH:mm", data-max-view="hours", data-min-view="minutes", data-view="hours")