div(ng-class="{'field-wrapper row':!vm.options.filter}")
    include ../../template/labelField/labelField
    div(ng-class="{'filter-inner-wrapper': vm.options.filter, 'field-element': !vm.options.filter}"  ng-style="{'overflow:auto':vm.multiple}") 
        .col-lg-2.col-md-2.col-sm-3.col-xs-3(data-ng-if="vm.multiple")
            .item-timepicker-wrapper.input-group(data-ng-repeat="field_item in vm.fieldValue track by $index")
                input.form-control.input-sm(name="{{vm.fieldName}}", data-ng-disabled="vm.readonly", data-ng-model="vm.fieldValue[$index]", class="timepicker", data-date-time="", data-format="HH:mm", data-max-view="hours", data-min-view="minutes", data-view="hours")
                span.input-group-btn
                    button.btn.btn-default.btn-sm(data-ng-click="vm.removeItem($index)", data-ng-if="!vm.readonly") x
            .btn.btn-primary.btn-sm(data-ng-click="vm.addItem()", data-ng-disabled="vm.readonly") {{'BUTTON.ADD' | translate}}
        div(data-ng-if="!vm.multiple" ng-class="{'col-lg-2 col-md-2 col-sm-3 col-xs-3': !vm.options.filter}")
            input.form-control.input-sm(name="{{vm.fieldName}}", data-ng-disabled="vm.readonly", data-ng-model="vm.fieldValue", class="timepicker", data-date-time="", data-format="HH:mm", data-max-view="hours", data-min-view="minutes", data-view="hours")
    include ../../template/errorField/errorField