<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
      <div id="universal-editor"></div>
      <script type="text/javascript" src="config.js"></script></body>
  </body>
</html>