<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">    
    <link rel="stylesheet" href="../bower_components/jquery-minicolors/jquery.minicolors.css" />
    <link rel="stylesheet" href="../bower_components/angular-toastr/dist/angular-toastr.css" />
    
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/jquery-minicolors/jquery.minicolors.js"></script>
    <script src="../bower_components/angular-minicolors/angular-minicolors.js"></script>
    <script src="../bower_components/moment/moment.js"></script>
    <script src="../bower_components/moment/locale/ru.js"></script>
    <script src="../bower_components/angular-moment/angular-moment.js"></script>
    <script src="../bower_components/moment-timezone/builds/moment-timezone-with-data-2010-2020.js"></script>
    <script src="../bower_components/angular-datepicker/dist/angular-datepicker.js"></script>
    <script src="../bower_components/checklist-model/checklist-model.js"></script>
    <script src="../bower_components/ng-file-upload/ng-file-upload.js"></script>
    <script src="../bower_components/ng-file-upload-shim/ng-file-upload-shim.js"></script>
    <script src="../bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="../bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="../bower_components/angular-ui-mask/dist/mask.js"></script>
    <script src="../bower_components/angular-toastr/dist/angular-toastr.tpls.js"></script>
    <script src="../bower_components/angular-translate/angular-translate.js"></script>
    <script src="../bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="../bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <title><%= htmlWebpackPlugin.options.title %></title>   
  </head>
  <body>
  <div class="demoApp" id="demoApp" ng-app="demoApp">
    <ul class="nav nav-tabs">
      <li role="presentation"><a class='edit_components' ui-sref="components" ui-sref-opts="{reload: true, inherit: false}">Components</a></li>
      <li role="presentation"><a class='edit_staff' ui-sref="staff" ui-sref-opts="{reload: true, inherit: false}">Staff</a></li>
      <li role="presentation"><a class='edit_news' ui-sref="news" ui-sref-opts="{reload: true, inherit: false}">News</a></li>
    </ul>
    <div ui-view=""></div>
  </div>
  <script type="text/javascript" src="index.js"></script>
  <script type="text/javascript" src="components.controller.js"></script>
  <script type="text/javascript" src="staffForm.controller.js"></script>
  <script type="text/javascript" src="staffGrid.controller.js"></script>
  <script type="text/javascript" src="newsForm.controller.js"></script>
  <script type="text/javascript" src="newsGrid.controller.js"></script>
  </body>
</html>