.table.items-list.drag-mode .row-draggable .row {
    border: 1px solid transparent;
    margin-right: 0;
    margin-left: 0;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.table.items-list.drag-mode .row-draggable .row .column {
    flex-direction: column;
    align-items: flex-start;
    display: flex;
}

.row .column.first-column {
    flex: 1 1 auto;
    text-overflow: ellipsis;
    max-width: 100%;
    overflow: hidden;
}

.table.items-list.drag-mode .row.header {
    border: 1px solid transparent;
    margin-right: 0;
    margin-left: 0;
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
    flex-direction: row;
}

.table.items-list.drag-mode .row.header .table-cell {
    flex-direction: column;
    align-items: flex-start;
    display: flex;
}

.row.header .table-cell.first-column {
    flex: 1 1 auto !important;
}

.table.items-list.drag-mode {
    list-style-type: none;
    margin: 10px 0;
    padding: 0;
    .row.header {
        padding: 5px;
    }
    .tree-body {
        padding: 5px;
    }
    ul.dnd-list {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    .row-empty {
        width: 100%;
        padding: 5px;
    }
    .dndPlaceholder {
        height: 30px;
        list-style: none;
        background-color: #f7f7f7;
        color: transparent;
        opacity: 0.5;
        -webkit-box-shadow: 0px 1px 8px 0px #636363;
        -moz-box-shadow: 0px 1px 8px 0px #636363;
        box-shadow: 0px 1px 8px 0px #636363;
    }
    .no-drag {
        flex-basis: 100%;
    }
    .row {
        flex-basis: 100%;
        margin-right: 0;
        margin-left: 0;
        display: flex;
        align-items: flex-start;
        &.header {
            border-bottom: 2px solid #ddd;
            font-weight: 700;
            cursor: pointer;
            .table-cell {
                padding: 5px 12px;
                &.glyphicon {
                    width: 30px;
                }
                &.active.asc:before {
                    content: "";
                    width: 0;
                    height: 0;
                    border-left: 5px solid transparent;
                    border-right: 5px solid transparent;
                    border-bottom: 7px solid #000000;
                    transform: scale(-1, -1);
                    margin-top: 3px;
                    position: absolute;
                    left: 0;
                    display: inline-flex;
                }
                &.active.desc:before {
                    content: "";
                    width: 0;
                    height: 0;
                    border-left: 5px solid transparent;
                    border-right: 5px solid transparent;
                    border-top: 7px solid #000000;
                    transform: scale(-1, -1);
                    margin-top: 3px;
                    position: absolute;
                    left: 0;
                    display: inline-flex;
                }
            }
        }
        &.footer {
            .table-cell {
                width: 100%;
                background-color: #cbd6da !important;
                padding: 8px;
            }
        }
        .column {
            padding-left: 5px;
            padding-right: 5px;
        }
        .table-cell.context-column {
            height: 0;
            position: absolute;
        }
    }
    .dnd-list-empty {
        .row-empty {
            display: list-item;
        }
    }
    .row-empty {
        display: none;
    }
    .row-draggable {
        padding: 0;
        margin: 0;
        padding-bottom: 2px;
        .dndPlaceholder {
            height: 30px;
            background-color: #f7f7f7;
        }
        &.dndDragging {
            .dndPlaceholder {
                display: none;
            }
        }
        .children-frames {
            padding-left: 10px;
            &.empty-child-area {
                .dnd-list {
                    min-height: 7px;
                }
            }
        }
        .dnd-expand-item.glyphicon {
            padding: 0 8px;
            margin-bottom: 5px;
            cursor: pointer;
            flex-basis: 15px;
            &.icon-collapse {
                cursor: default;
                &:before {
                    content: '';
                }
            }
            &.dragIcon {
                cursor: -webkit-grab;
            }
        }
        .row {
            border: 1px solid transparent;
            margin-right: 0;
            margin-left: 0;
            display: flex;
            align-items: center;
            .column {
                padding-left: 10px;
                padding-right: 10px;
            }
            .table-cell.context-column {
                height: 0;
                position: absolute;
                left: 10px;
            }
        }
    }
}