.ue-form(ng-class="vm.classFormComponent")
    .editor-body.ue-component-body(ng-if="!vm.warnings.length && !vm.dangers.length")
        .editor-toolbar
            component-wrapper.header-action-button(ng-repeat="control in vm.toolbar track by $index", data-setting="control", data-button-class="header", data-options="vm.options")
        .editor-content
            component-wrapper(ng-repeat="component in ::vm.components" data-setting="::component" data-options="::vm.options")
            .clear
        .field-error-bottom-wrapper
            .error-item.alert.alert-danger(data-ng-repeat="err in vm.errors") {{err}}
        .editor-footer(data-ng-if="vm.entityLoaded")
            component-wrapper.editor-action-button(data-ng-repeat="button in vm.editFooterBar track by $index", data-entity-id="{{vm.entityId}}", data-setting="button", data-options="vm.options", data-button-class="footer")
    include ../../template/errorMessages/template.jade
