div(data-ng-show="vm.entityLoaded", class="editor-body")
    .close-editor(data-ng-click="vm.closeButton()", ng-style="{'background-image':'url('+ vm.assetsPath +'/images/close.jpg)'}")
    .nav.nav-tabs
        li(data-ng-repeat="tab in vm.tabs", data-ng-class="vm.currentTab == tab.label ? 'active' : ''", data-ng-click="vm.currentTab = tab.label")
            a(href="") {{tab.label}}
    .tab-content-wrapper
        .tab-item-content(data-ng-repeat="tab in vm.tabs" data-ng-show="vm.currentTab == tab.label")
            .field-content-wrapper
                field-wrapper(
                    data-ng-repeat="field in tab.fields",
                    data-setting="field",
                    data-ng-if="(vm.editorEntityType == 'new' && field.showOnly == 'create') || (vm.editorEntityType == 'exist' && field.showOnly == 'edit') || !field.showOnly"
                    )
    .field-error-bottom-wrapper
        .error-item.alert.alert-danger(data-ng-repeat="err in vm.errors") {{err}}
    .field-notify-bottom-wrapper
        .notify-item(data-ng-repeat="notify in vm.notifys") {{notify}}
    .editor-entity-actions
        .editor-action-button(ng-repeat="button in (vm.editorEntityType == 'new' ? vm.editFooterBarNew : vm.editFooterBarExist) track by $index")
            div(data-ng-if="(button.type == 'add') && vm.editorEntityType == 'new'", data-editor-button-add="", data-button-label="{{button.label}}")
            div(data-ng-if="(button.type == 'presave')", data-editor-button-presave="", data-entity-id="{{vm.entityId}}", data-button-request="{{button.request}}", data-button-label="{{button.label}}")
            div(data-ng-if="(button.type == 'update') && vm.editorEntityType == 'exist'", data-editor-button-update="", data-entity-id="{{vm.entityId}}", data-button-label="{{button.label}}")
            div(data-ng-if="(button.type == 'delete') && vm.editorEntityType == 'exist'", data-editor-button-delete="", data-entity-id="{{vm.entityId}}", data-button-label="{{button.label}}", data-button-class="editor")
            div.btn.btn-md.btn-success(data-ng-if="button.type == 'request'", data-ng-click="vm.contextAction(button, vm.entityId)") {{button.label}}
            div(data-ng-if="button.type == 'targetBlank'", data-editor-button-target-blank="", data-item-value="item", data-button-label="{{button.label}}", data-button-request="{{button.request}}", data-index="{{$index}}", data-button-class="editor")
            div(data-ng-if="button.type == 'download'", data-editor-button-download="", data-item-value="item", data-button-label="{{button.label}}", data-button-request="{{button.request}}", data-index="{{$index}}", data-button-class="editor")
